* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sailregular';
    src: url('../font/sail-regular-webfont.woff2') format('woff2'),
         url('../font/sail-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, section {
    overflow: hidden;
}

body {
    height: 100vh;
    font-family: 'sailregular';
}

section {
    height: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.cover {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: url('../img/totoro.jpg') center center no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(0.5);
    z-index: -1;
}

.layout {
    width: 600px;
    height: calc(100% - 24vmin);
    margin: 0 auto;
    padding-top: 12vh;
}

@media (max-width: 600px) {
    .layout {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .layout {
        width: 600px;
    }
}

@media (min-width: 900px) {
    .layout {
        width: 800px;
    }
}

@media (min-width: 1000px) {
    .layout {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .layout {
        width: 1100px;
    }
}

.layout .aside {
    float: left;
    border-radius: 5px;
    /* box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5); */
    /* background-color: rgba(255, 255, 255, 0.7); */
}

.layout .aside .avatar {
    width: 30vmin;
    height: 30vmin;
    border-radius: 5px;
    object-fit: cover;
}

.layout .aside .actions {
    display: flex;
    margin-top: 1vmin;
    color: #aaa;
    font-size: 2.5vmin;
}

.layout .aside .actions .item {
    flex: 1;
    transition: all .3s;
    cursor: pointer;
}

.layout .aside .actions .item:hover {
    color: white;
}

.layout .detail {
    margin-left: 40vmin;
    color: #eee;
}

.layout .detail .tags {
    font-size: 2vmin;
    padding: 0.8vmin 1.6vmin;
    color: white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3); 
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5);
}

.layout .detail .title {
    position: relative;
    margin-top: 2vmin;
    width: 80%;
    height: 5.25vmin;
    overflow: hidden;
    white-space: nowrap;
}

.layout .detail .title h1 {
    position: absolute;
    top: 0;
    /* left: 0; */
    width: 200%;
    font-size: 3.5vmin;
}

.layout .detail .title h1:first-child {
    left: 0;
}

.layout .detail .title h1:last-child {
    right: 0;
}

.layout .detail .title h1:first-child.animate {
    animation: 10s move-left infinite linear;
}

.layout .detail .title:hover h1:first-child.animate {
    animation-play-state: paused;
}

.layout .detail .title h1:last-child.animate {
    animation: 10s move-right infinite linear;
}

.layout .detail .title:hover h1:last-child.animate {
    animation-play-state: paused;
}

@keyframes move-left {
    0% {
        left: 0;
    }
    33% {
        left: -100%
    }
    66% {
        left: -200%;
    }
    100% {
        left: -300%;
    }
}

@keyframes move-right {
    0% {
        right: -300%;
    }
    33% {
        right: -200%
    }
    66% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

.layout .detail .actions {
    display: flex;
    margin-top: 5vmin;
    font-size: 3.5vmin;
}

.layout .detail .actions .item {
    flex: 1;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

.layout .detail .actions .item i {
    transition: all .3s;
    cursor: pointer;
}

.layout .detail .actions .item i:hover {
    color: #e87b00;
}

.layout .detail .progress {
    position: relative;
    height: 5px;
    width: 80%;
    margin-top: 5.5vmin;
    background: white;
    border-radius: 2.5px;
}

.layout .detail .progress::after {
    content: attr(data-time);
    position: absolute;
    right: 0;
    font-size: 2.5vmin;
    top: calc(-5px - 2.5vmin);
}

.layout .detail .lyric {
    margin-top: 4vmin;
    font-size: 3vmin;
}

footer {
    height: 24vmin;
    color: white;
    background: rgba(255, 255, 255, 0.3)
}

footer .box {
    position: relative;
    padding: 0px;
}

.box i {
    position: absolute;
    font-size: 5vmin;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24vh;
    cursor: pointer;
    transition: all 0.3s;
}

.box i:hover {
    color: rgba(255, 255, 255, 1)
}

.box i.fa-chevron-left {
    left: -5vmin;
}

.box i.fa-chevron-right {
    right: -5vmin;
}

.box ul {
    padding: 4vmin 3vmin;
    list-style: none;
}

.box ul li {
    display: inline-block;
    text-align: center;
    margin-left: 2vmin;
    cursor: pointer;
}
.box ul li:hover {
    box-shadow: 0 0 .5vmin .5vmin rgba(255, 255, 255, 0.5)
}

.box .cate img {
    width: 15vmin;
    height: 15vmin;
    border-radius: 5px;
    object-fit: cover;
}

.box .cate h3 {
    font-size: 3vmin;
}
